*{
    margin: 0%;
    padding: 0%;}


.fundo{
    height: 100vh;
    letter-spacing: 2px;
    background-color: #202020;}


.calcu{
    display: flex;
    flex-direction: column;
    align-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    padding: 15px;
    width: 230px;

    position: absolute;

    text-align: center;
    background-color: #00000099;
}



.botao2{
    margin: 1px;

    width: 50px;
    height: 50px;
    border-width: 1px;
    border-radius: 7px;

    font-size: 16px;
    
    background-color: #0079ca;
    color: white;

    cursor: pointer;}

.botao{
    margin: 1px;

    width: 50px;
    height: 50px;
    border-width: 1px;
    border-radius: 7px;

    font-size: 16px;
    
    background-color: #1d1d1d;
    color: white;

    cursor: pointer;}


.botao2:hover{
    font-size: 18px;
    background-color: #016aaf;}

.botao:hover{
    font-size: 18px;
    background-color: #1a1a1a;
   }


#resultado {
    margin: 12px;
    width: 199px;
    height: 40px;

    border-radius: 5px;
    padding: 5px;
   
    font-size: 20px;
    text-align: right;
    font-family: sans-serif;

    background-color: white;
    color: black; }